.inactive {
    left: -1920px;
}

.text {
    font-size: 48px;
    color: rgb(255, 255, 255);
    left: 104px;
    top: 314px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
