.label {
    width: 240px;
    height: 78px;
    background-image: none;
    -unity-font-style: bold;
    font-size: 40px;
    top: 40px;
    left: 54px;
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UIImages/LowerResolution%20SDF.asset?fileID=11400000&guid=fbe5783332767214398bbc7a09830787&type=2#LowerResolution SDF");
    -unity-text-align: upper-left;
    letter-spacing: 9px;
}

.scores {
    position: absolute;
    left: 1780px;
    font-size: 37px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    -unity-text-align: upper-right;
    transition-property: all;
}

.one {
    font-size: 50px;
    top: 130px;
    -unity-text-outline-color: rgb(30, 175, 215);
    -unity-text-outline-width: 5px;
    left: 1460px;
    background-image: url("project://database/Assets/UI%20Toolkit/UIImages/1st_postion.png?fileID=2800000&guid=5e56864f7023b5e498b64951333ad37b&type=3#1st_postion");
}

.two {
    top: 200px;
    font-size: 40px;
    left: 1460px;
    background-image: url("project://database/Assets/UI%20Toolkit/UIImages/other_posistion.png?fileID=2800000&guid=455811ffe2f9c1a43882ced2f1db9f66&type=3#other_posistion");
}

.three {
    font-size: 30px;
    top: 270px;
    left: 1460px;
    background-image: url("project://database/Assets/UI%20Toolkit/UIImages/other_posistion.png?fileID=2800000&guid=455811ffe2f9c1a43882ced2f1db9f66&type=3#other_posistion");
}

.four {
    top: 340px;
    font-size: 25px;
    left: 1460px;
    background-image: url("project://database/Assets/UI%20Toolkit/UIImages/other_posistion.png?fileID=2800000&guid=455811ffe2f9c1a43882ced2f1db9f66&type=3#other_posistion");
}

.tricks {
    position: absolute;
    font-size: 37px;
    -unity-text-align: upper-left;
    top: 972px;
    left: 42px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: rgb(126, 245, 255);
    -unity-font: url("project://database/Assets/Fonts/Helvetica.ttf?fileID=12800000&guid=1cd6824dcf37f1d47a53c6d7d11ff869&type=3#Helvetica");
    -unity-font-definition: url("project://database/Assets/Fonts/Helvetica%20SDF.asset?fileID=11400000&guid=13658d39d9b202d4aa5067ee4c40f6e5&type=2#Helvetica SDF");
}

.tricker {
    left: 645px;
    top: 692px;
    font-size: 50px;
    rotate: -21deg;
    -unity-font: url("project://database/Assets/Fonts/Helvetica.ttf?fileID=12800000&guid=1cd6824dcf37f1d47a53c6d7d11ff869&type=3#Helvetica");
    -unity-font-definition: url("project://database/Assets/Fonts/Helvetica%20SDF.asset?fileID=11400000&guid=13658d39d9b202d4aa5067ee4c40f6e5&type=2#Helvetica SDF");
}

.tzero {
    left: 42px;
    top: 970px;
    opacity: 1;
}

.tone {
    top: 920px;
    left: 42px;
}

.ttwo {
    top: 870px;
    opacity: 0.75;
}

.tthree {
    top: 820px;
    opacity: 0.5;
}

.tfour {
    top: 770px;
    opacity: 0.25;
}

#Combo .unity-progress-bar__progress {
    background-color: rgb(0, 167, 45);
    background-image: none;
    -unity-text-outline-color: rgba(255, 255, 255, 0);
}

#Combo.unity-progress-bar_background {
    background-color: rgba(86, 196, 255, 0);
}
